/*初始样式*/
article {
    margin-bottom: 60px;
}
article h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: Cambria,Georgia,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei","sans-serif";
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
article h4 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Cambria,Georgia,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei","sans-serif";
    font-weight: bold;
    color: #555;
}
article p {
    line-height: 1.7;
    margin-bottom: 25px;
    font-size: 16px;
    color: #555;
}
article figure{
    margin-bottom: 20px;
    padding-top: 5px;
}
article blockquote {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 25px;
}
article pre {
    padding: 12px;
    margin-bottom: 25px;
    font-family: consolas,"Source Code Pro",Monaco;
    font-size: 14px;
    color: #eee;
    background-color: #222;
    border-color: #111;
}
article ul {
    margin-bottom: 25px;
    list-style-type: circle;
    line-height: 1.7;
    font-size: 16px;
    color: #555;
}
.article-page-title {
    text-align: center;
}
.article-page-title h1 {
    margin-bottom: 10px;
    font-family: Cambria,Georgia,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei","sans-serif";
    font-weight: 300;
    font-size: 28px;
    color: #555;  
}



/*header 顶部*/
.page-top {
    margin: 60px 0px 90px;
}
.page-top .title {
    display: inline-block;
    padding: 7px 30px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #222;
    font-size: 30px;
}
.page-top .title a {
    color: #fff;
}
.page-top .title a:hover {
    text-decoration: none;
}
.page-top .title-icon {
    margin-right: 10px;
}

/*nav 顶部导航*/
.top-nav {
    padding-top: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei","sans-serif";
    font-weight: bold;
}
.top-nav .list-inline {
    margin-left: 0;
}
.top-nav .list-inline a {
    position: relative;
    display: inline-block;
    width: 50px;
    padding-top: 25px;
    color: #333;
}
.top-nav .list-inline span {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 20px;
    
}



/*content 主要区域*/
.content {
    min-height: 254px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Microsoft JhengHei","Hiragino Sans GB","Microsoft YaHei","sans-serif";
}
.article-title{
/*    font-family: ""*/
}
.article-title h2{
    margin-bottom: 10px;
    font-family: Cambria,Georgia,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei","sans-serif";
    font-size: 28px;
    font-weight: 300;
}
.article-title h2 a{
     color: #555;  
}
.article-title p {
    margin-bottom: 20px;
    font-size: 12px;
    color: #999;
}
.article-title p a {
    text-decoration: underline;
    color: #555;
}
.article-title p a:hover {
    color: #337AB7;
}
.read-more {
    border-bottom: 2px solid #898989;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.read-more:hover {
    text-decoration: none;
    color: #333;
    border-bottom-color: #333;
}
.pagination-box {
    border-top: 1px solid #ddd;
}
.new-pagination {
   margin-top: -1px;
}
.new-pagination li a {
    float: left;    
    padding: 4px 10px;
    font-size: 16px;
    color: #333;
    border-top: 1px solid transparent;
}
.new-pagination li a:hover {
    text-decoration: none;
    border-top: 1px solid #555;
}
.new-pagination .currpage {
    color: #fff;
    background-color: #bbb;
}
.new-pagination .currpage:hover {
    border-top-color: transparent;
}
.article-tags a {
    display: inline-block;
    padding: 2px 4px;
    font-family: "microsoft YaHei";
    font-size: 14px;
    background-color: #eee;
    color: #333;
}
.article-tags a:hover {
    text-decoration: none;
    background-color: #ccc;
}


/*评论区域*/
.comment-box {
    max-width: 700px;
    margin-top: 60px;
    border-bottom: 1px solid #ddd;
    font-family: "Microsoft JhengHei","Hiragino Sans GB","Microsoft YaHei","sans-serif";
}
.comment-form {
    margin-bottom: 40px;
}
.comment-title {
    display: inline-block;
    padding: 3px 8px;    
    margin-bottom: 10px;
    background-color: #eee;
} 
.media-body {
    overflow: visible;
}
.comment,.comment-child {
    margin-top: 0;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
}
.comment-child {
    margin-left: -35px;
}
.comment-child .comment-child {
    margin-left: 0px;
} 
.comment-child .comment-user-img {
    width: 30px;
    height: 30px;
}
.comment-user-img {
    border-radius: 5px;
}
.comment-user-name {
    font-weight: bold;
    color: #555;
}
.comment-user-name:hover {
    text-decoration: none;
    color: #337AB7;
}
.comment-content {
    margin-top: 2px;    
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}
.comment-footer {
    margin-bottom: 8px;
    font-size: 12px;
    color: #999;
}
.reply {
    margin-left: 15px;
    color: #999;
}
.reply:hover {
    text-decoration: none;
    color: #337AB7;
}
.reply span {
    transform: rotateY(180deg);
}



/*右侧导航*/
.sidebar {
    position: fixed;
    right: -250px;
    top: 0;
    display: none;
    opacity: 0;
    z-index: 98;
    width: 250px;
    height: 100%;
    background-color: #222;
    font-family: Helvetica,arial,"Microsoft JhengHei","Microsoft YaHei";
}
.author-info img { 
    margin-top: 60px;
    border-radius: 50%;
    border: 3px solid #333;
}
.author-info strong {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    font-weight: normal;
    color: #eee;
}
.author-info p {
    font-size: 14px;
    margin-top: 5px;
    color: #aaa;
}
hr.space1 {
    margin-top: 8px;
    margin-bottom: 17px;
    width: 180px;
    border-color: #2a2a2a;
}
hr.space2 {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80px;
    border-color: #2a2a2a;
}
.side-nav .list-inline {
    margin-bottom: 25px;
    margin-left: 0;
}
.side-nav .list-inline li {
    padding: 0;
}
.side-nav .list-inline a {
    display: inline-block;
    width: 45px;
    text-decoration: none;
    color: #999;
}
.side-nav .list-inline a:hover {
    color: #eee;
}
.side-nav .list-inline a span{
    display: block;
}
.side-nav .li-space {
    width: 1px;
    height: 30px;
    background-color: #555; 
}
.side-nav .list-unstyled a {
    line-height: 25px;
    letter-spacing: 3px;
    color: #aaa;
}
.side-nav .list-unstyled a:hover {
    text-decoration: none;
    color: #eee;
}
.side-nav .list-unstyled span {
    margin-right: 8px;
}
.sidebar .links {
    width: 164px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar .links li {
    padding-left: 10px;
    margin-bottom: 8px;
    width: 80px;
}
.sidebar .links a {
    font-size: 12px;
    color: #999;
}
.sidebar .links a i {
    margin-right: 7px;
}
.post-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    color: #555;
}
.post-nav a:hover {
    text-decoration: none;
    color: #222;
}
.prev-article,.next-article {
    color: #555;
}



/*页面底部*/
.page-bottom {
    max-width: 700px;
    margin: 60px auto 10px;
    color: #888;
    font-family: "Microsoft YaHei";
}



/*右下角按钮*/
.btns {
    position: fixed;
    right: 50px;
    bottom: 20px;
    z-index: 100;
    width: 27px;    
}
#sidebar-toggle {
    padding: 5px 5px 3px;
    margin-bottom: 3px;
    border: none;
    background-color: #222;
}
.icon-bar {
    position: relative;
    top: 0;
    display: block;
    transition: all .5s;
    margin-bottom: 4px;    
    width: 16px;
    height: 2px;
    background-color: #fff;
}
.sidebar-hover .icon-bar-top {
    width: 8px;
    transform: rotate(-40deg);
    top: 3px;
}
.sidebar-hover .icon-bar-bottom {
    width: 8px;
    transform: rotate(40deg);
    top: -3px;
}
.sidebar-click .icon-bar-top {
    width: 16px;
    transform: rotate(-45deg);
    top: 6px;
}
.sidebar-click .icon-bar-bottom {
    width: 16px;
    transform: rotate(45deg);
    top: -6px;
}
.sidebar-click .icon-bar-center {
    opacity: 0;
}
#backTop {
    padding: 3px 5px;
    border: none;
    background-color: #222;
}
#backTop .caret {
    margin-top: -2px;
    border: none;
    border-top: none;
    border-bottom: 8px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}



/*归档列表*/
.archives {
    margin: 20px 0 60px;
    border-left: 4px solid #F5F5F5;
}
.archives-title {
    position: relative;
    top: -5px;
    padding-left: 25px;
}
.archives-title::before {
    content: "";
    position: absolute;
    margin-left: -33px;
    margin-top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #aaa;
    
}
.archives h2{
    position: relative;
    top: -10px;
    padding-left: 25px;
    margin-top: 60px;
    font-family: "microsoft YaHei";
    font-size: 24px;
    font-weight: bold;
    color: #666;    
}
.archives h2::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -32px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #aaa;
}
.archives ul li {
    margin-top: 20px;
    padding: 15px 0;
    border-bottom: 1px dashed #ddd;
    transition: border-color .2s;
}
.archives ul li::before {
    content: "";
    position: absolute;
    margin-top: 8px;
    margin-left: -6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #aaa;
}
.archives ul li:hover {
    border-color: #666;
}
.archives ul li:hover::before {
    background-color: #333;
}
.archives ul li time {
    display: inline-block;
    margin-left: 25px;
    margin-right: 10px;
    font-size: 12px;
    color: #666;
}
.archives ul li a {
    color: #555;
}
.archives ul li a:hover{
    text-decoration: none;
}


/*标签云*/
.tags-title {
    font-size: 16px;
    margin-bottom: 25px;
}
.tags a {
    color: #888;
    display: inline-block;
    margin: 5px 10px;
    padding: 3px 5px;
    border-bottom: 1px solid #bbb;
}
.tags a:hover {
    text-decoration: none;
    border-color: #555;
}


/*分类*/
.categories-title {
    font-size: 16px;
    margin-bottom: 35px;
}
.categories ul li {
    margin-bottom: 20px;
}
.categories a {
    margin: 5px 0 5px 10px;
    padding: 2px 5px;
    border-bottom: 1px solid #bbb;
    font-size: 16px;
    color: #333;
    
}
.categories a:hover {
    text-decoration: none;
    border-color: #555;
}
.categories span {
    color: #999;
}


/*搜索模态框*/
.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}
.modal-content {
    overflow: hidden;
}
.modal-search-header {
    padding: 0px;
    padding-bottom: 1px;
    background-color: #F6F6F7;
} 
.modal-search-header-focus{
    padding-bottom: 0px;
    border-bottom: 2px solid #337AB7;
}
.modal-search-header .close {
    position: absolute;
    right: 0;
    padding: 5px 7px;
    margin-right: 10px;
    margin-top: 8px;
}
.modal-search-title {
    font-size: 0;
}
.modal-search-title .glyphicon-search {
    position: absolute;
    margin-top: 13px;
    margin-left: 15px;
    vertical-align: bottom;
    font-size: 24px;
}
.modal-search-title input[type="search"] {
    padding: 15px 15px 12px 40px;
    width: 100%;
    outline: none;
    border: none;
    text-indent: .5em;
    font-family: "Helvetica Neue",Helvetica,Arial,"microsoft YaHei",sans-serif;
    font-size: 16px;
    background-color: #F6F6F7;
}
.modal-search-body {
    min-height: 400px;
    background: url(../images/modal_search_bg.png) no-repeat center center;
}
.modal-search-footer {
    background-color: #F6F6F7;
}
